.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.star-rating {
  color: #ffb800;
}

.product-thumb {
  flex: 0 0 auto;
}

@media (min-width: 768px) {
  .product-thumb {
    width: 76px;
  }
}
